{{#> app}}
{{#*inline "content"}}
<div class="flex flex-row justify-around">
<div class="">
<p class="lead">{{ viewData.description }}</p>
</div>
<div class="col-lg-4 me-auto">
<p class="lead">{{ viewData.author }}</p>
</div>
</div>
{{/inline}}
{{/app}}