{{#> app}}
{{#*inline "content"}}
<div class="text-center pb-5">
Supplying Rentals To events
</div>
<div class="flex flex-row justify-between">
<img src="images/GoldBallon.png" alt="GoldBallon" width="400">
<img src="images/GoldBallon.png" alt="GoldBallon" width="400">
<img src="images/GoldBallon.png" alt="GoldBallon" width="400">
</div>

{{/inline}}
{{/app}}