{{#> app}}
{{#*inline "content"}}
{{#with viewData.product}}
<div class="flex flex-row">
<img src="/uploads/{{getImage}}" class="object-contain h-48 w-96 rounded">
<div class="flex flex-col gap-5">
<h5>{{getName}} (${{getPrice}})</h5>
<p>{{getDescription}}</p>
<p><small class="cursor-not-allowed">Add to Cart</small></p>
</div>
</div>
{{/with}}
{{/inline}}
{{/app}}